.cont {
    margin: 0 auto;
    margin-top: 120px;
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
}

.cont h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    color: black;
    margin-top: 5px;
    text-align: center;
}

.course-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    min-height: 100px;
    margin-bottom: 20px;
}

.course-cont:hover {
    outline: none;
    box-shadow: 0 0 5px #007bff;
    border-color: #007bff;
}

.course-cont div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.course-img {
    margin: 15px auto;
    max-width: 30%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.course-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.course-details {
    color: black;
    padding: 5px;
    width: 80%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.course-details h1 {
    font-size: 28px;
}

.course-details h5 {
    font-size: 15px;
    margin-top: -10px;
}

.view-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
    padding: 5px;
}

.view-cont p {
    font-size: 15px;
    font-weight: 500;
    margin-right: 70px;
    width: 100%;
    margin: 0 auto;
}

.view-cont a {
    text-decoration: none;
    color: white;
}

.view-cont button {
    height: 60px;
    font-size: 15px;
    width: 80px;
    justify-content: center;
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

button:hover {
    color: lightseagreen;
    border: lightseagreen 1px solid;
    background-color: white;
}

@media (max-width:1000px) {
    .cont {
        margin-top: 120px;

    }

    .cont h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .course-cont {
        flex-direction: column;
        width: 80%;
        text-align: center;
        justify-items: center;
        border: #007bff 2px solid;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .course-cont:hover {
        outline: none;
        box-shadow: none;
        border-color: none;
    }

    .course-img {
        display: none;
    }



    .course-details {
        margin-top: 0px;
        color: black;
        padding: 10px;
        width: 100%;
        margin-left: -15px;
    }

    .course-details h1 {
        margin-bottom: 40px;
    }

    .view-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .view-cont p {
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .view-cont button {
        margin-bottom: -10px;
    }
}

@media (max-width:768px) {
    .cont {
        margin-top: 80px;

    }

    .cont h2 {
        font-size: 1.8rem;
    }

    .course-details h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .course-cont {
        margin-bottom: 20px;
    }

    .view-cont p {
        margin-bottom: 20px;
        font-size: 12px;
    }

    .view-cont button {
        margin-bottom: -15px;
    }


}